{{#if user}}
	<h5>Bienvenido {{user.username}}</h5>
{{else}}
<h4>Ingreso</h4>
	<form method="post" action="/users/login">
		<label> Nombre de Usuario: </label>
		<input type="text" name="username">
		<label> Contraseña: </label>
		<input type="password" name="password">
		<input type="submit" class="button" value="Login">
	</form>
{{/if}}