<h3>Bienvenido al Sitio de E-Learning</h3>
	<p>
	Una plataforma online de aprendizaje
	</p>
	{{#unless user}}
		<a class="button" href="/users/register">Crear Cuenta</a>
		<P>Necesitas registrarte para inscribirte a un curso</p>
	{{/unless}}