<h2>Agregar Curso</h2>
<form id="classForm" method="post" action="/instructors/classes/new">
	<div>
		<label>Nombre del Curso: </label>
		<input type="text" name="title">
	</div><br />
	<div>
		<label>Detalles del Curso: </label>
		<textarea name="description"></textarea>
	</div><br />
	<div>
		<label>Instructor: </label>
		<input type="text" name="instructor">
	</div><br />
	<div>
		<input type="submit" value="Agregar Curso">
	</div>
</form>

