<h2>Agregar Lección</h2>
<form id="regForm" method="post" action="/instructors/classes/{{class_id}}/lessons/new">
	<div>
		<label>Número de Lección: </label>
		<input type="text" name="lesson_number">
	</div><br />
	<div>
		<label>Titulo de la Lección: </label>
		<input type="text" name="lesson_title">
	</div><br />
	<div>
		<label>Contenido de la Lección: </label>
		<textarea name="lesson_body"></textarea>
	</div><br />
	<div>
		<input type="submit" value="Add Lesson">
	</div>
</form>